
.error {
	color: red;
	font-size: 20;
}

.queryText {
	
}

.queryButton {
	font-family: fantasy;
	font-size: 24px;
	border-radius: 10px;
	border-color: black;
	border-bottom-width: 5px;
	color:rgba(10,0,90,0.7);
}

.queryButton:hover {
	color: black;
	background-color:rgba(10,0,90,0.7);
}

table.queryResult {
	border-radius: 5px;
}
